body{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.image{
    height:300px;
    width:300px;
}
h2{
    font-family:cursive;
    color:Black;
}
h1{
    font-family:'Times New Roman', Times, serif;
}
p{
    font-weight: 800;
    font-style: justify;
}
.product{
    height:300px;
    width:350px;
}
.product1{
    height:300px;
    width:150px;
}
.product2{
    height:300px;
    width:240px;
}
.product3{
    height:300px;
    width:280px;
}